<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingblocks.gdg_hunt">

    <!--<meta-data-->
        <!--android:name="com.google.android.gms.vision.DEPENDENCIES"-->
        <!--android:value="barcode" />-->

    <!-- the above tag automatically download's the bar code detection library on the device that tries to run the app -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".FromAssets" />
        <activity android:name=".Scan" />
        <activity android:name=".QuestionDisplay" />
        <activity android:name=".Intro" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Continue" />
        <activity android:name=".HowPlay" />
        <activity android:name=".DevInfo"></activity>
    </application>

</manifest>